name: CI
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
      - name: Install dependencies
        run: |
          apk add build-base git

      - uses: actions/checkout@v4
      - run: |
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git fetch --prune --unshallow

      - name: Compile
        run: |
          make clean all

      - name: Upload artifacts
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          name: ACSRAM_DUMPER
          path: |
            ACSRAM_DUMPER.ELF

      - name: Create pre-release
        if: github.ref == 'refs/heads/acsram-dumper'
        uses: mathieucarbou/marvinpinto-action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "acsram"
          title: "Namco System2x6 SRAM dumper"
          files: |
                ACSRAM_DUMPER.ELF
